__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

.venv/
venv/
env/
ENV/

build/
dist/
site/
.eggs/
*.egg
*.egg-info/
pip-wheel-metadata/

.idea/
.vscode/
*.iml

.env
.env.*
*.env

*.local
local_settings.py