# APP_HOST=0.0.0.0
# APP_PORT=8010
# WHISPER_MODEL=small
# WHISPER_COMPUTE_TYPE=int8
# WHISPER_VAD_FILTER=true
# WHISPER_VAD_MIN_SILENCE_DURATION_MS=350
# WHISPER_BEAM_SIZE=2
# WHISPER_BEST_OF=2
# WHISPER_CONDITION_ON_PREVIOUS_TEXT=false
# WHISPER_TEMPERATURE=0.0
# WHISPER_INITIAL_PROMPT=
